node_modules/
dist/
frontend/dist/
frontend/node_modules/
tix-admin/dist/
tix-admin/node_modules/

server/tix
server/tix.exe
server/tix_server
server/tix_server.exe

.env
.DS_Store
Thumbs.db
*.log

server/*.db
